.explore {
    padding-top: 270px;
    &__container {
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    &__bg {
        height: 534px;
        width: 659px;
        background: url('../images/explore_bg.png') no-repeat;
        position: relative;
        &::after {
            content: url(../icons/plus.svg);
            transform: rotate(7.49deg);
            position: absolute;
            top: 0px;
            right: 12px;
        }
    }
    &__content {
        padding: 111px 58px 111px 0;
        width: 440px;
    }
    &__desc {
        margin: 20px 0 39px;
        position: relative;
        &::after {
            content: url(../icons/ring.svg);
            position: absolute;
            right: 45px;
            bottom: -54px;
        }
    }
    &__btn {
        width: 164px;
        height: 48px;
        font-weight: 600;
        font-size: 16px;
    }
}