.footer {
    padding-top: 70px;
    background: #F9F9FB;
    &__container {
        max-width: 1120px;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 391px repeat(3, 1fr);
        gap: 75px;
        padding-bottom: 77px;
        border-bottom: 0.6px solid #C4C4C4;;
    }
    &__content {
        padding-top: 8px;
        width: 391px;
    }
    .logo {
        height: 44px;
        width: 44px;
        img {
            height: 100%;
            width: 100%;
        }
    }
    &__desc {
        width: 300px;
        margin: 26px 0 55px;
        font-family: 'Mulish';
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: #848484;
    }
    &__rights {
        font-family: 'Mulish';
        font-weight: 300;
        font-size: 17px;
        line-height: 28px;
        color: #848484;
    }
    &__title {
        font-family: 'Mulish';
        font-weight: 700;
        font-size: 19px;
        line-height: 60px;
        color: #000000;
    }
    ul {
        list-style-type: none;
    }
    &__item {
        font-family: 'Mulish';
        font-size: 18px;
        line-height: 38px;
        color: #848484;
        font-weight: 300;
        transition: 0.8s;
        a:hover {
            font-weight: 400;
            color: $colorSunrise;
        }            
    }
    &__icons {
        padding: 30px 0 32px;
        text-align: center;
        vertical-align: bottom;
        font-size: 22px;
        .fa-brands {
            cursor: pointer;
            &:not(:last-child) {
                margin-right: 35px;
            }
            &:hover {
                transition: 0.2s;
                color: rgb(3, 193, 121);
            }
         }
         .fa-twitter {
            font-size: 20px;
         }
         .fa-youtube {
            font-size: 20px;
         }
    }
}