.guide {
    padding-top: 173px;
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__bg {
        height: 542px;
        width: 599px;
        background: url('../images/guide_bg.png') center/contain no-repeat;
        position: relative;
        &::before {
            content: '';
            background: url('../icons/plus.svg') center/cover no-repeat;
            position: absolute  ;
            height: 16px;
            width: 16px;
            right: -27px;
            top: 37px;
            transform: rotate(9.99deg);
        }
    }
    &__content {
        padding: 152px 0 93px 49px;
        width: 450px;
    }
    &__title {
        position: relative;
        &::before {
            content: url(../icons/ring.svg);
            position: absolute;
            left: 45px;
            top: -87px;
        }
    }
    &__desc {
        margin: 20px 0 39px;
        position: relative;
        &::after {
            content: url(../icons/plus.svg);
            transform: rotate(20.42deg);
            position: absolute;
            right: 24px;
            bottom: -91px;
        }
    }
    &__btn {
        width: 164px;
        height: 48px;
        font-weight: 600;
        font-size: 16px;
    }
}