@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .destination__cards {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 300px;
    gap: 20px;
  }
  .testimonial__text {
    font-size: 22px;
  }
  .testimonial__block {
    gap: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .testimonial__image {
    width: 350px;
    height: 460px;
  }
  .testimonial__image img {
    width: 100%;
    height: 100%;
  }
  .story__cards {
    grid-template-columns: repeat(4, 1fr);
  }
  .footer__wrapper {
    grid-template-columns: 350px repeat(3, 1fr);
    gap: 50px;
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 32px;
    line-height: 45px;
  }
  .desc {
    font-size: 15px;
    line-height: 27px;
  }
  .container {
    max-width: 720px;
  }
  .hero__title {
    width: 280px;
    font-size: 50px;
    line-height: 70px;
  }
  .hero__btn {
    margin-top: 25px;
  }
  .hero .form {
    margin-top: 30px;
  }
  .hero .form__subtitle {
    margin-top: 35px;
  }
  .hero .form__block {
    grid-template-columns: 240px;
    row-gap: 10px;
  }
  .explore {
    padding-top: 100px;
  }
  .destination {
    padding-top: 100px;
  }
  .destination__header {
    justify-content: space-around;
  }
  .destination__cards {
    grid-template-columns: repeat(2, 261px);
    grid-template-rows: 337px;
    gap: 30px;
    justify-content: center;
  }
  .destination__card-name {
    width: 110px;
  }
  .destination__card-place {
    font-size: 16px;
    line-height: 20px;
  }
  .destination__card-country {
    font-size: 14px;
  }
  .guide {
    padding-top: 100px;
  }
  .testimonial {
    padding-top: 100px;
  }
  .testimonial__testimonial__content {
    padding: 65px 0 0 49px;
  }
  .testimonial__text {
    font-size: 18px;
    width: 320px;
    line-height: 32px;
    margin-bottom: 33px;
  }
  .testimonial__author {
    font-size: 20px;
    line-height: 28px;
  }
  .testimonial__founder {
    font-size: 16px;
    line-height: 30px;
  }
  .testimonial__image {
    width: 300px;
    height: 400px;
  }
  .testimonial__image::before {
    top: -14px;
    right: -16px;
    width: 35px;
    height: 35px;
  }
  .testimonial__image::after {
    width: 26.72px;
    height: 26.64px;
  }
  .story {
    padding-top: 100px;
  }
  .story__header {
    justify-content: space-around;
  }
  .story__cards {
    gap: 30px;
    justify-content: center;
    grid-template-columns: repeat(2, 261px);
  }
  .footer__wrapper {
    grid-template-columns: auto;
    gap: 50px;
    grid-template-rows: repeat(2, auto);
    justify-content: space-around;
  }
  .footer__content {
    text-align: center;
    width: 546px;
    grid-row: 2;
    grid-column: 1/4;
    align-items: center;
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
  }
  .footer__desc {
    width: 85%;
    margin: 26px 0 26px 20px;
  }
  .footer__rights {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 28px;
    line-height: 38px;
  }
  .desc {
    font-size: 14px;
    line-height: 25px;
  }
  .container {
    max-width: 540px;
  }
  .header__link {
    display: none;
  }
  .header__menu {
    display: flex;
  }
  .explore__content {
    padding: 51px 10px 51px 10px;
    width: 100%;
  }
  .testimonial__block {
    grid-template-columns: 1fr;
  }
  .testimonial__image {
    width: 280px;
    height: 360px;
    grid-row: 1;
    margin: 0 auto;
  }
  .testimonial__image img {
    text-align: center;
  }
  .testimonial__content {
    margin: 0 auto;
    padding: 50px 0 0 0;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  .header {
    position: static;
  }
  .header__nav {
    display: none;
  }
  .hero__content {
    padding-top: 0;
  }
  .hero__title::after {
    right: 59px;
  }
  .hero__bg {
    display: none;
  }
  .explore {
    padding-top: 60px;
  }
  .explore__bg {
    display: none;
  }
  .destination {
    padding-top: 60px;
  }
  .destination__header {
    flex-direction: column;
  }
  .destination__view {
    margin-top: 15px;
  }
  .destination__cards {
    grid-template-columns: 261px;
  }
  .destination__cards::after {
    z-index: -1;
    right: 8px;
    left: unset;
    bottom: -11px;
  }
  .guide {
    padding-top: 60px;
  }
  .guide__content {
    padding: 0 0 50px 20px;
  }
  .guide__bg {
    display: none;
  }
  .testimonial {
    padding-top: 60px;
  }
  .testimonial__content {
    padding: 50px 0 0 20px;
  }
  .testimonial__text {
    width: 100%;
  }
  .story__header {
    flex-direction: column;
  }
  .story__header::before {
    right: 43px;
    left: unset;
  }
  .story__view {
    margin-top: 15px;
  }
  .story__cards {
    grid-template-columns: 261px;
  }
  .footer .logo {
    margin: 0 auto;
  }
  .footer__wrapper {
    margin: 0 auto;
    width: 300px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .footer__content {
    text-align: center;
    grid-row: 4;
    grid-column: auto;
    width: auto;
  }
  .footer__block {
    text-align: center;
  }
}
