.story {
    position: relative;
    padding: 270px 0 75px;
    .container {
        max-width: 1120px;
    }
        &__header {
        display: flex;
        justify-content: space-between;
        align-items:center;
        height: 50px;
        margin-bottom: 56px;
        position: relative;
        &::before {
            content: url(../icons/plus.svg);
            position: absolute;
            top: -57px;
            left: 443px;
            transform: rotate(7.49deg);
        }
    }
    &__view {
        cursor: pointer;
        margin-right: 15px;
        font-weight: 600;
        font-size: 17px;
        color: $colorSunrise;
        position: relative;
        ::before {
            content:"";
            position: absolute;
            bottom: 6px;
            right: -11px;
            height: 6px;
            width: 6px;
            border-top:2px solid $colorSunrise;
            border-left:2px solid $colorSunrise;
            transform: rotate(135deg);
        }
        :hover{
            transition: 0.8s;
            font-size: 19px;
        }
    }
    &__cards {
        display: grid;
        grid-template-columns: repeat(4, 261px);
        grid-template-rows: 446px;
        column-gap: 25px;
        position: relative;
        &::before {
            content: url(../icons/ring.svg);
            position: absolute;
            top: 262px;
            left: -87px;        
        }
        &::after {
            content: url(../icons/ring.svg);
            position: absolute;
            bottom: -79px;
            right: 355px;     
        }
    }
    &__card {
        border-radius: 8px;
        overflow: hidden;
        &-img {
            margin-bottom: 13px;
            height: 230px;
            width: 100%;            
            img {
                width: 100%;
                height: 100%;
            }
        }
        &-title {
            font-weight: 700;
            font-size: 19px;
            line-height: 30px;
            color: #000000;
            margin-bottom: 13px;
        }
        &-desc {
            font-weight: 400;
            font-size: 15px;
            line-height: 26px;
            color: #7D7987;
            margin-bottom: 23px;
        }
        &-link {
            font-weight: 600;
            font-size: 15px;
            line-height: 28px;
            color: $colorSunrise;
        }
    }
}