
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    box-sizing: border-box;
}

$colorSunrise: #FB8F1D;

a {
    text-decoration: none;
    color: inherit;
}

* {
    margin: 0;
    padding: 0;
}

button {
    font-family: 'Inter';
    background: none;
    border: none;
    background: $colorSunrise;
    color: #ffffff;
    border-radius: 8px;
}

.container {
    max-width: 1240px;
    padding: 0 10px;
    margin: 0 auto;
}

.title {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
}

.desc {
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #7D7987;
}

.header {
    height: 60px;
    nav {
        margin-top: 35px;
        padding: 8px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__nav {
        display: flex;
        align-items: center;
    }
    &__link {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #B8BECD;
        margin-right: 34px;
        &_active {
            font-weight: 500;
            color: #202336;
        }
    }
    &__auth {
        :first-child{
            border: 1px solid $colorSunrise;
            background: none;
            color: $colorSunrise;
            margin-right: 18px;
        }
    }  
    &__btn {
        width:132px;
        height: 44px;
        font-weight: 500;
        font-size: 15px;
    }
}

.hero {
    &__container {
        display: flex;
        position: relative;
    }
    &__content {
        position: relative;
        padding: 105px 0 47px;
    }
    &__title {
        font-size: 64px;
        line-height: 80px;
        color: #202336;
    }
    .form {
        margin-top: 74px;
        &__subtitle {
            font-weight: 700;
            font-size: 22px;
            line-height: 27px;
            color: #202336;
            margin-bottom: 71px;
            position: relative;
            span::before {
                position: absolute;
                content: "";
                top: 48px;
                left: 0;
                width: 32px;
                border: 1px solid #202336;
            }
        }
        &__block {
            display: flex;
            margin-bottom: 35px;
        }
        &__wrapper {
            position: relative;
            width: 220px;
            &:not(:last-child) {
                margin-right: 30px;
            }
            &::before {
                content:"";
                position: absolute;
                bottom: 0;
                top: 0;
                right: 30.5px;
                margin: auto 0;
                width: 6px;
                height: 6px;
                border-top:2px solid #4A4C53;
                border-left:2px solid #4A4C53;
                transform: rotate(-135deg);
            }
        }
        &__select {
            width: 100%;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            outline: none;
            height: 52px;
            border: 0.8px solid #AFB0B9;
            border-radius: 6px;
            padding: 0 31px;
            font-family: 'Inter';
            font-weight: 400;
            color: #4A4C53;
            font-size: 15px;
        }
    }
    &__btn {
        font-family: 'Mulish';
        width: 180px;
        height: 52px;
        margin-top: 16px;
        font-weight: 700;
        font-size: 17px;
    }
    &__plus {
        height: 21px;
        position: absolute;
        top: 125px;
        left: 466px;
    }
    &__ring {
        height: 20px;
        position: absolute;
        left: 542px;
        bottom: 18px;
        &-large {
            position: absolute;
            top: 399px;
            left: -85px;
            img {
                height: 26px;
                width: 26px;
            }
        }
    }
    &__bg {
        margin-top: 72px;
        width: 687px;
        height: 654px;
        position: absolute;
        right: -85px;
        z-index: -1;
        background: url('../images/hero_bg.png');
    }
}

.explore {
    margin-top: 270px;
    &__container {
        display: flex;
        justify-content: flex-end;
        position: relative;
    }
    &__bg {
        position: absolute;
        left: -50px;
        height: 534px;
        width: 659px;
        z-index: -1;
        background: url('../images/explore_bg.png') no-repeat;
    }
    &__plus {
        height: 21px;
        position: absolute;
        left: 636px;
        transform: rotate(7.49deg);
    }
    &__content {
        position: relative;
        padding: 111px 58px 111px 0;
        width: 440px;
    }
    &__desc {
        margin: 20px 0 39px;
    }
    &__btn {
        width: 164px;
        height: 48px;
        font-weight: 600;
        font-size: 16px;
    }
    &__ring {
        height: 20px;
        position: absolute;
        right: 103px;
        bottom: 152px;
    }
}

.destination {
    margin-top: 262px;
    padding:30px 0 59px;
    .container {
        max-width: 1120px;
        position: relative;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items:center;
        height: 50px;
        margin-bottom: 56px;
    }
    &__view {
        margin-right: 15px;
        font-weight: 600;
        font-size: 17px;
        color: $colorSunrise;
        position: relative;
        ::before {
            content:"";
            position: absolute;
            bottom: 6px;
            right: -11px;
            height: 6px;
            width: 6px;
            border-top:2px solid $colorSunrise;
            border-left:2px solid $colorSunrise;
            transform: rotate(135deg);
        }
    }
    &__cards {
        display: grid;
        grid-template-columns: repeat(4, 261px);
        grid-template-rows: 337px;
        column-gap: 25px;
    }
    &__card {
        position: relative;
        overflow: hidden;
        border-radius: 8px;
        img {
            width: 100%;
            height: 100%;
        }
        &-name {
            position: absolute;
            left: 0;
            bottom: -6px;
            width: 120px;
            height: 56px;
            padding: 11px 0 5px;
            background: #FFFFFF;
            border-radius: 0px 6px 0px 0px;
        }
        &-place {
            font-weight: 600;
            font-size: 17px;
            line-height: 25px;
            color: #042521;
        }
        &-country {
            font-weight: 500;
            font-size: 15px;
            line-height: 24px;
            color: #80918E;
        }
    }
    &__ring {
        height: 20px;
        position: absolute;
        top: -30px;
        right: 221px;
        &-bottom {
            height: 20px;
            position: absolute;
            bottom: -51px;
            right: 647px;
        }
    }
    &__plus {
        position: absolute;
        bottom: 121px;
        left: -95px;
    }
    
}

.guide {
    margin-top: 173px;
    &__container {
        display: flex;
        justify-content: flex-start;
        position: relative;
    }
    &__bg {
        position: absolute;
        right: 41px;
        height: 542px;
        width: 599px;
        z-index: -1;
        background: url('../images/guide_bg.png') no-repeat;
    }
    &__content {
        position: relative;
        padding: 152px 0 93px 49px;
        width: 450px;
    }
    &__desc {
        margin: 20px 0 39px;
    }
    &__btn {
        width: 164px;
        height: 48px;
        font-weight: 600;
        font-size: 16px;
    }
    &__ring {
        height: 20px;
        position: absolute;
        top: 85px;
        left: 94px;
    }
    &__plus {
        height: 21px;
        position: absolute;
        left: 465px;
        bottom: 96px;
        transform: rotate(20.42deg);
        &-small {
            position: absolute;
            height: 16px;
            width: 16px;
            right: -17px;
            top: 37px;
            transform: rotate(9.99deg);
        }
    }
}

.testimonial {
    margin-top: 248px;
    &__container {
        position: relative;
    }    
    &__title {
        margin-bottom: 60px;
        padding-left: 49px;
    }
    &__block {
        display: flex;
        justify-content: space-between;
    }
    &__content {
        padding: 85px 0 100px 49px;
    }
    &__raiting {
        margin-bottom: 30px;
    }
    &__star {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 16px;
        }
    }
    &__text {
        width: 450px;
        font-family: 'Mulish';
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: #000000;
        margin-bottom: 40px;
    }
    &__author {
        font-weight: 700;
        font-size: 22px;
        line-height: 32px;
    }
    &__founder {
        font-weight: 400;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.85);
        line-height: 32px;
    }
    &__image {
        position: relative;
        margin-right: 152px;
        width: 384px;
        height: 491px;
        img {
            border-radius: 14px 14px 0 0;
        }
    }
    &__wrapper {
        box-sizing: border-box;
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 0;
        width: 132px;
        background: #FFFFFF;
        border-radius: 16px 0px 0px 0px;
        display: flex;
        justify-content:  space-between;
        padding: 20px 0 0 30px;
    }
    &__pointer {
        width: 38px;
        height: 38px;
        border-radius: 100%;
        &-prev {
            border: 2px solid #D7D7D7;
            position: relative;
            &::before {
                content:'';
                width: 5px;
                height: 5px;
                border-top: 2px solid #D7D7D7;
                border-left: 2px solid #D7D7D7;
                transform: rotate(-45deg);
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                margin: auto;
            }
        }
        &-next {
            border: 2px solid #000000;
            position: relative;
            &::before {
                content:'';
                width: 5px;
                height: 5px;
                border-top: 2px solid #000000;
                border-left: 2px solid #000000;
                transform: rotate(135deg);
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                margin: auto;
            }
        }
    }
    &__ring {
        height: 20px;
        position: absolute;
        top: 299px;
        left: -73px;
        &-large {   
        position: absolute;
        top: -17px;
        right: -18px;
        width: 42px;
        height: 42px;
        img {
            width: 100%;
            height: 100%;
        }
        }
    }
    &__plus {
        width: 31.72px;
        height: 31.64px;
        z-index: 1;
        position: absolute;
        bottom: -13px;
        left: -12px;
        transform: rotate(8.17deg);
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.story {
    position: relative;
    margin-top: 213px;
    padding: 57px 0 75px;
    .container {
        max-width: 1120px;
        position: relative;
    }
    &__plus {
        position: absolute;
        height: 21px;
        top: -57px;
        left: 453px;
        transform: rotate(7.49deg);
    }
    &__ring {
        position: absolute;
        height: 20px;
        left: -77px;
        top: 368px;
        &-bottom {
            position: absolute;
            height: 20px;
            right: 365px;
            bottom: -75px;
        }
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items:center;
        height: 50px;
        margin-bottom: 56px;
    }
    &__view {
        margin-right: 15px;
        font-weight: 600;
        font-size: 17px;
        color: $colorSunrise;
        position: relative;
        ::before {
            content:"";
            position: absolute;
            bottom: 6px;
            right: -11px;
            height: 6px;
            width: 6px;
            border-top:2px solid $colorSunrise;
            border-left:2px solid $colorSunrise;
            transform: rotate(135deg);
        }
    }
    &__cards {
        display: grid;
        grid-template-columns: repeat(4, 261px);
        grid-template-rows: 446px;
        column-gap: 25px;
    }
    &__card {
        border-radius: 8px;
        overflow: hidden;
        &-img {
            margin-bottom: 13px;
            height: 230px;
            width: 100%;            
            img {
                width: 100%;
                height: 100%;
            }
        }
        &-title {
            font-weight: 700;
            font-size: 19px;
            line-height: 30px;
            color: #000000;
            margin-bottom: 13px;
        }
        &-desc {
            font-weight: 400;
            font-size: 15px;
            line-height: 26px;
            color: #7D7987;
            margin-bottom: 23px;
        }
        &-link {
            font-weight: 600;
            font-size: 15px;
            line-height: 28px;
            color: $colorSunrise;
        }
    }
}

.footer {
    padding-top: 70px;
    background: #F9F9FB;
    &__container {
        max-width: 1120px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding-bottom: 77px;
        border-bottom: 0.6px solid #C4C4C4;;
    }
    &__content {
        padding-top: 8px;
        width: 391px;
    }
    .logo {
        height: 44px;
        width: 44px;
        img {
            height: 100%;
            width: 100%;
        }
    }
    &__desc {
        width: 300px;
        margin: 26px 0 55px;
        font-family: 'Mulish';
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: #848484;
    }
    &__rights {
        font-family: 'Mulish';
        font-weight: 300;
        font-size: 17px;
        line-height: 28px;
        color: #848484;
    }
    &__title {
        font-family: 'Mulish';
        font-weight: 700;
        font-size: 19px;
        line-height: 60px;
        color: #000000;
    }
    ul {
        list-style-type: none;
        li {
            font-family: 'Mulish';
            font-size: 18px;
            line-height: 38px;
            color: #848484;
            font-weight: 300;
        }
    }
    &__icons {
        padding: 30px 0 32px;
        text-align: center;
        vertical-align: bottom;
        font-size: 22px;
        .fa-brands {
            margin-right: 35px;
         }
         .fa-twitter {
            font-size: 20px;
         }
         .fa-youtube {
            font-size: 20px;
         }
    }
}