body {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
}

button {
  font-family: 'Inter';
  border: none;
  background: #FB8F1D;
  color: #ffffff;
  border-radius: 8px;
  transition: 0.8s;
  cursor: pointer;
}

button:hover {
  border: 1px solid #FB8F1D;
  background: none;
  color: #FB8F1D;
}

.container {
  max-width: 1240px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-family: 'Playfair Display';
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
}

.desc {
  font-family: 'Mulish';
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: #7D7987;
}

.header {
  padding-top: 35px;
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 60px;
  margin: 0 auto;
}

.header nav {
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #B8BECD;
  margin-right: 34px;
  transition: 0.8s;
}

.header__link:hover {
  font-weight: 500;
  color: #202336;
}

.header__auth :first-child {
  margin-right: 18px;
}

.header__btn {
  width: 132px;
  height: 44px;
  font-weight: 500;
  font-size: 15px;
}

.header__menu {
  display: none;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #202336;
}

.header .burger {
  cursor: pointer;
  width: 15px;
  border-bottom: 2px solid #202336;
  position: relative;
}

.header .burger::before {
  content: '';
  top: -6px;
  position: absolute;
  width: 15px;
  border-bottom: 2px solid #202336;
}

.header .burger::after {
  content: '';
  top: 6px;
  position: absolute;
  width: 15px;
  border-bottom: 2px solid #202336;
}

.hero {
  padding-top: 60px;
}

.hero__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero__content {
  padding: 105px 0 47px;
}

.hero__title {
  width: 356px;
  font-size: 64px;
  line-height: 80px;
  color: #202336;
  position: relative;
}

.hero__title::after {
  content: url(../icons/plus.svg);
  position: absolute;
  top: -27px;
  right: -131px;
}

.hero .form {
  margin-top: 74px;
}

.hero .form__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #202336;
  margin-bottom: 71px;
  position: relative;
}

.hero .form__subtitle span::before {
  position: absolute;
  content: "";
  top: 48px;
  left: 0;
  width: 32px;
  border: 1px solid #202336;
}

.hero .form__subtitle::after {
  content: '';
  background: url("../icons/ring.svg") center/cover no-repeat;
  height: 26px;
  width: 26px;
  position: absolute;
  left: -85px;
  top: 60px;
}

.hero .form__block {
  display: grid;
  grid-template-columns: repeat(2, 220px);
  grid-template-rows: auto;
  column-gap: 30px;
  row-gap: 35px;
}

.hero .form__wrapper {
  cursor: pointer;
  position: relative;
}

.hero .form__wrapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  right: 30.5px;
  margin: auto 0;
  width: 6px;
  height: 6px;
  border-top: 2px solid #4A4C53;
  border-left: 2px solid #4A4C53;
  transform: rotate(-135deg);
}

.hero .form__select {
  cursor: pointer;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  height: 52px;
  border: 0.8px solid #AFB0B9;
  border-radius: 6px;
  padding: 0 31px;
  font-family: 'Inter';
  font-weight: 400;
  color: #4A4C53;
  font-size: 15px;
}

.hero .form__select:hover {
  border: 2px solid  #AFB0B9;
}

.hero__btn {
  font-family: 'Mulish';
  width: 180px;
  height: 52px;
  margin-top: 51px;
  font-weight: 700;
  font-size: 17px;
}

.hero__bg {
  margin-top: 72px;
  background: url("../images/hero_bg.webp") center/contain no-repeat;
  position: relative;
}

.hero__bg::after {
  content: url(../icons/ring.svg);
  position: absolute;
  left: -68px;
  bottom: 15px;
}

.explore {
  padding-top: 270px;
}

.explore__container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.explore__bg {
  height: 534px;
  width: 659px;
  background: url("../images/explore_bg.webp") center/contain no-repeat;
  position: relative;
}

.explore__bg::after {
  content: url(../icons/plus.svg);
  transform: rotate(7.49deg);
  position: absolute;
  top: 0px;
  right: 12px;
}

.explore__content {
  padding: 111px 58px 111px 20px;
  width: 440px;
}

.explore__desc {
  margin: 20px 0 39px;
  position: relative;
}

.explore__desc::after {
  content: url(../icons/ring.svg);
  position: absolute;
  right: 45px;
  bottom: -54px;
}

.explore__btn {
  width: 164px;
  height: 48px;
  font-weight: 600;
  font-size: 16px;
}

.destination {
  padding: 292px 0 59px;
}

.destination .container {
  max-width: 1120px;
  position: relative;
}

.destination__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-bottom: 56px;
}

.destination__header::after {
  content: url(../icons/ring.svg);
  position: absolute;
  right: 221px;
  top: -30px;
}

.destination__view {
  cursor: pointer;
  margin-right: 15px;
  font-weight: 600;
  font-size: 17px;
  color: #FB8F1D;
  position: relative;
}

.destination__view ::before {
  content: "";
  position: absolute;
  bottom: 6px;
  right: -11px;
  height: 6px;
  width: 6px;
  border-top: 2px solid #FB8F1D;
  border-left: 2px solid #FB8F1D;
  transform: rotate(135deg);
}

.destination__view :hover {
  transition: 0.8s;
  font-size: 19px;
}

.destination__cards {
  display: grid;
  grid-template-columns: repeat(4, 261px);
  grid-template-rows: 337px;
  column-gap: 25px;
  position: relative;
}

.destination__cards::before {
  content: url(../icons/plus.svg);
  position: absolute;
  top: 192px;
  left: -105px;
}

.destination__cards::after {
  content: url(../icons/ring.svg);
  position: absolute;
  left: 463px;
  bottom: -55px;
}

.destination__card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.destination__card img {
  width: 100%;
  height: 100%;
}

.destination__card-name {
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 120px;
  height: 56px;
  padding: 11px 0 5px;
  background: #FFFFFF;
  border-radius: 0px 6px 0px 0px;
}

.destination__card-place {
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  color: #042521;
}

.destination__card-country {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #80918E;
}

.guide {
  padding-top: 173px;
}

.guide__container {
  display: flex;
  justify-content: space-between;
}

.guide__bg {
  height: 542px;
  width: 599px;
  background: url("../images/guide_bg.webp") center/contain no-repeat;
  position: relative;
}

.guide__bg::before {
  content: '';
  background: url("../icons/plus.svg") center/cover no-repeat;
  position: absolute;
  height: 16px;
  width: 16px;
  right: -27px;
  top: 37px;
  transform: rotate(9.99deg);
}

.guide__content {
  padding: 152px 0 93px 49px;
  width: 450px;
}

.guide__title {
  position: relative;
}

.guide__title::before {
  content: url(../icons/ring.svg);
  position: absolute;
  left: 45px;
  top: -87px;
}

.guide__desc {
  margin: 20px 0 39px;
  position: relative;
}

.guide__desc::after {
  content: url(../icons/plus.svg);
  transform: rotate(20.42deg);
  position: absolute;
  right: 24px;
  bottom: -91px;
}

.guide__btn {
  width: 164px;
  height: 48px;
  font-weight: 600;
  font-size: 16px;
}

.testimonial {
  padding-top: 248px;
}

.testimonial__container {
  position: relative;
}

.testimonial__title {
  margin-bottom: 60px;
  padding-left: 49px;
}

.testimonial__block {
  display: flex;
  justify-content: space-between;
}

.testimonial__content {
  padding: 85px 0 100px 49px;
}

.testimonial__raiting {
  margin-bottom: 30px;
}

.testimonial__star {
  display: inline-block;
}

.testimonial__star:not(:last-child) {
  margin-right: 16px;
}

.testimonial__text {
  width: 450px;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 40px;
  position: relative;
}

.testimonial__text::before {
  content: url(../icons/ring.svg);
  position: absolute;
  left: -132px;
  top: 40px;
}

.testimonial__author {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
}

.testimonial__founder {
  font-weight: 400;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 32px;
}

.testimonial__image {
  position: relative;
  margin-right: 152px;
  width: 384px;
  height: 491px;
}

.testimonial__image img {
  border-radius: 14px 14px 0 0;
}

.testimonial__image::before {
  content: '';
  z-index: -1;
  background: url("../icons/ring.svg") center/cover no-repeat;
  position: absolute;
  top: -17px;
  right: -18px;
  width: 42px;
  height: 42px;
}

.testimonial__image::after {
  content: '';
  background: url("../icons/plus.svg") center/cover no-repeat;
  position: absolute;
  width: 31.72px;
  height: 31.64px;
  bottom: -13px;
  left: -12px;
  transform: rotate(8.17deg);
}

.testimonial__wrapper {
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  width: 132px;
  background: #FFFFFF;
  border-radius: 16px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 30px;
}

.testimonial__pointer {
  width: 38px;
  height: 38px;
  border-radius: 100%;
}

.testimonial__pointer-prev {
  border: 2px solid #D7D7D7;
  position: relative;
}

.testimonial__pointer-prev::before {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 2px solid #D7D7D7;
  border-left: 2px solid #D7D7D7;
  transform: rotate(-45deg);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.testimonial__pointer-next {
  border: 2px solid #000000;
  position: relative;
}

.testimonial__pointer-next::before {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  transform: rotate(135deg);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.story {
  position: relative;
  padding: 270px 0 75px;
}

.story .container {
  max-width: 1120px;
}

.story__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-bottom: 56px;
  position: relative;
}

.story__header::before {
  content: url(../icons/plus.svg);
  position: absolute;
  top: -57px;
  left: 443px;
  transform: rotate(7.49deg);
}

.story__view {
  cursor: pointer;
  margin-right: 15px;
  font-weight: 600;
  font-size: 17px;
  color: #FB8F1D;
  position: relative;
}

.story__view ::before {
  content: "";
  position: absolute;
  bottom: 6px;
  right: -11px;
  height: 6px;
  width: 6px;
  border-top: 2px solid #FB8F1D;
  border-left: 2px solid #FB8F1D;
  transform: rotate(135deg);
}

.story__view :hover {
  transition: 0.8s;
  font-size: 19px;
}

.story__cards {
  display: grid;
  grid-template-columns: repeat(4, 261px);
  grid-template-rows: 446px;
  column-gap: 25px;
  position: relative;
}

.story__cards::before {
  content: url(../icons/ring.svg);
  position: absolute;
  top: 262px;
  left: -87px;
}

.story__cards::after {
  content: url(../icons/ring.svg);
  position: absolute;
  bottom: -79px;
  right: 355px;
}

.story__card {
  border-radius: 8px;
  overflow: hidden;
}

.story__card-img {
  margin-bottom: 13px;
  height: 230px;
  width: 100%;
}

.story__card-img img {
  width: 100%;
  height: 100%;
}

.story__card-title {
  font-weight: 700;
  font-size: 19px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 13px;
}

.story__card-desc {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #7D7987;
  margin-bottom: 23px;
}

.story__card-link {
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  color: #FB8F1D;
}

.footer {
  padding-top: 70px;
  background: #F9F9FB;
}

.footer__container {
  max-width: 1120px;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 391px repeat(3, 1fr);
  gap: 75px;
  padding-bottom: 77px;
  border-bottom: 0.6px solid #C4C4C4;
}

.footer__content {
  padding-top: 8px;
  width: 391px;
}

.footer .logo {
  height: 44px;
  width: 44px;
}

.footer .logo img {
  height: 100%;
  width: 100%;
}

.footer__desc {
  width: 300px;
  margin: 26px 0 55px;
  font-family: 'Mulish';
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #848484;
}

.footer__rights {
  font-family: 'Mulish';
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
  color: #848484;
}

.footer__title {
  font-family: 'Mulish';
  font-weight: 700;
  font-size: 19px;
  line-height: 60px;
  color: #000000;
}

.footer ul {
  list-style-type: none;
}

.footer__item {
  font-family: 'Mulish';
  font-size: 18px;
  line-height: 38px;
  color: #848484;
  font-weight: 300;
  transition: 0.8s;
}

.footer__item a:hover {
  font-weight: 400;
  color: #FB8F1D;
}

.footer__icons {
  padding: 30px 0 32px;
  text-align: center;
  vertical-align: bottom;
  font-size: 22px;
}

.footer__icons .fa-brands {
  cursor: pointer;
}

.footer__icons .fa-brands:not(:last-child) {
  margin-right: 35px;
}

.footer__icons .fa-brands:hover {
  transition: 0.2s;
  color: #03c179;
}

.footer__icons .fa-twitter {
  font-size: 20px;
}

.footer__icons .fa-youtube {
  font-size: 20px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .destination__cards {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 300px;
    gap: 20px;
  }
  .testimonial__text {
    font-size: 22px;
  }
  .testimonial__block {
    gap: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .testimonial__image {
    width: 350px;
    height: 460px;
  }
  .testimonial__image img {
    width: 100%;
    height: 100%;
  }
  .story__cards {
    grid-template-columns: repeat(4, 1fr);
  }
  .footer__wrapper {
    grid-template-columns: 350px repeat(3, 1fr);
    gap: 50px;
  }
}

@media (max-width: 992px) {
  .title {
    font-size: 32px;
    line-height: 45px;
  }
  .desc {
    font-size: 15px;
    line-height: 27px;
  }
  .container {
    max-width: 720px;
  }
  .hero__title {
    width: 280px;
    font-size: 50px;
    line-height: 70px;
  }
  .hero__btn {
    margin-top: 25px;
  }
  .hero .form {
    margin-top: 30px;
  }
  .hero .form__subtitle {
    margin-top: 35px;
  }
  .hero .form__block {
    grid-template-columns: 240px;
    row-gap: 10px;
  }
  .explore {
    padding-top: 100px;
  }
  .destination {
    padding-top: 100px;
  }
  .destination__header {
    justify-content: space-around;
  }
  .destination__cards {
    grid-template-columns: repeat(2, 261px);
    grid-template-rows: 337px;
    gap: 30px;
    justify-content: center;
  }
  .destination__card-name {
    width: 110px;
  }
  .destination__card-place {
    font-size: 16px;
    line-height: 20px;
  }
  .destination__card-country {
    font-size: 14px;
  }
  .guide {
    padding-top: 100px;
  }
  .testimonial {
    padding-top: 100px;
  }
  .testimonial__testimonial__content {
    padding: 65px 0 0 49px;
  }
  .testimonial__text {
    font-size: 18px;
    width: 320px;
    line-height: 32px;
    margin-bottom: 33px;
  }
  .testimonial__author {
    font-size: 20px;
    line-height: 28px;
  }
  .testimonial__founder {
    font-size: 16px;
    line-height: 30px;
  }
  .testimonial__image {
    width: 300px;
    height: 400px;
  }
  .testimonial__image::before {
    top: -14px;
    right: -16px;
    width: 35px;
    height: 35px;
  }
  .testimonial__image::after {
    width: 26.72px;
    height: 26.64px;
  }
  .story {
    padding-top: 100px;
  }
  .story__header {
    justify-content: space-around;
  }
  .story__cards {
    gap: 30px;
    justify-content: center;
    grid-template-columns: repeat(2, 261px);
  }
  .footer__wrapper {
    grid-template-columns: auto;
    gap: 50px;
    grid-template-rows: repeat(2, auto);
    justify-content: space-around;
  }
  .footer__content {
    text-align: center;
    width: 546px;
    grid-row: 2;
    grid-column: 1/4;
    align-items: center;
    display: flex;
    justify-self: center;
    flex-wrap: wrap;
  }
  .footer__desc {
    width: 85%;
    margin: 26px 0 26px 20px;
  }
  .footer__rights {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 28px;
    line-height: 38px;
  }
  .desc {
    font-size: 14px;
    line-height: 25px;
  }
  .container {
    max-width: 540px;
  }
  .header__link {
    display: none;
  }
  .header__menu {
    display: flex;
  }
  .explore__content {
    padding: 51px 10px 51px 10px;
    width: 100%;
  }
  .testimonial__block {
    grid-template-columns: 1fr;
  }
  .testimonial__image {
    width: 280px;
    height: 360px;
    grid-row: 1;
    margin: 0 auto;
  }
  .testimonial__image img {
    text-align: center;
  }
  .testimonial__content {
    margin: 0 auto;
    padding: 50px 0 0 0;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  .header {
    position: static;
  }
  .header__nav {
    display: none;
  }
  .hero__content {
    padding-top: 0;
  }
  .hero__title::after {
    right: 59px;
  }
  .hero__bg {
    display: none;
  }
  .explore {
    padding-top: 60px;
  }
  .explore__bg {
    display: none;
  }
  .destination {
    padding-top: 60px;
  }
  .destination__header {
    flex-direction: column;
  }
  .destination__view {
    margin-top: 15px;
  }
  .destination__cards {
    grid-template-columns: 261px;
  }
  .destination__cards::after {
    z-index: -1;
    right: 8px;
    left: unset;
    bottom: -11px;
  }
  .guide {
    padding-top: 60px;
  }
  .guide__content {
    padding: 0 0 50px 20px;
  }
  .guide__bg {
    display: none;
  }
  .testimonial {
    padding-top: 60px;
  }
  .testimonial__content {
    padding: 50px 0 0 20px;
  }
  .testimonial__text {
    width: 100%;
  }
  .story__header {
    flex-direction: column;
  }
  .story__header::before {
    right: 43px;
    left: unset;
  }
  .story__view {
    margin-top: 15px;
  }
  .story__cards {
    grid-template-columns: 261px;
  }
  .footer .logo {
    margin: 0 auto;
  }
  .footer__wrapper {
    margin: 0 auto;
    width: 300px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .footer__content {
    text-align: center;
    grid-row: 4;
    grid-column: auto;
    width: auto;
  }
  .footer__block {
    text-align: center;
  }
}
