body {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
}

button {
  font-family: 'Inter';
  background: none;
  border: none;
  background: #FB8F1D;
  color: #ffffff;
  border-radius: 8px;
}

.container {
  max-width: 1240px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-family: 'Playfair Display';
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
}

.desc {
  font-family: 'Mulish';
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: #7D7987;
}

.header {
  height: 60px;
}

.header nav {
  margin-top: 35px;
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #B8BECD;
  margin-right: 34px;
}

.header__link_active {
  font-weight: 500;
  color: #202336;
}

.header__auth :first-child {
  border: 1px solid #FB8F1D;
  background: none;
  color: #FB8F1D;
  margin-right: 18px;
}

.header__btn {
  width: 132px;
  height: 44px;
  font-weight: 500;
  font-size: 15px;
}

.hero__container {
  display: flex;
  position: relative;
}

.hero__content {
  position: relative;
  padding: 105px 0 47px;
}

.hero__title {
  font-size: 64px;
  line-height: 80px;
  color: #202336;
}

.hero .form {
  margin-top: 74px;
}

.hero .form__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #202336;
  margin-bottom: 71px;
  position: relative;
}

.hero .form__subtitle span::before {
  position: absolute;
  content: "";
  top: 48px;
  left: 0;
  width: 32px;
  border: 1px solid #202336;
}

.hero .form__block {
  display: flex;
  margin-bottom: 35px;
}

.hero .form__wrapper {
  position: relative;
  width: 220px;
}

.hero .form__wrapper:not(:last-child) {
  margin-right: 30px;
}

.hero .form__wrapper::before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  right: 30.5px;
  margin: auto 0;
  width: 6px;
  height: 6px;
  border-top: 2px solid #4A4C53;
  border-left: 2px solid #4A4C53;
  transform: rotate(-135deg);
}

.hero .form__select {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  height: 52px;
  border: 0.8px solid #AFB0B9;
  border-radius: 6px;
  padding: 0 31px;
  font-family: 'Inter';
  font-weight: 400;
  color: #4A4C53;
  font-size: 15px;
}

.hero__btn {
  font-family: 'Mulish';
  width: 180px;
  height: 52px;
  margin-top: 16px;
  font-weight: 700;
  font-size: 17px;
}

.hero__plus {
  height: 21px;
  position: absolute;
  top: 125px;
  left: 466px;
}

.hero__ring {
  height: 20px;
  position: absolute;
  left: 542px;
  bottom: 18px;
}

.hero__ring-large {
  position: absolute;
  top: 399px;
  left: -85px;
}

.hero__ring-large img {
  height: 26px;
  width: 26px;
}

.hero__bg {
  margin-top: 72px;
  width: 687px;
  height: 654px;
  position: absolute;
  right: -85px;
  z-index: -1;
  background: url("../images/hero_bg.png");
}

.explore {
  margin-top: 270px;
}

.explore__container {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.explore__bg {
  position: absolute;
  left: -50px;
  height: 534px;
  width: 659px;
  z-index: -1;
  background: url("../images/explore_bg.png") no-repeat;
}

.explore__plus {
  height: 21px;
  position: absolute;
  left: 636px;
  transform: rotate(7.49deg);
}

.explore__content {
  position: relative;
  padding: 111px 58px 111px 0;
  width: 440px;
}

.explore__desc {
  margin: 20px 0 39px;
}

.explore__btn {
  width: 164px;
  height: 48px;
  font-weight: 600;
  font-size: 16px;
}

.explore__ring {
  height: 20px;
  position: absolute;
  right: 103px;
  bottom: 152px;
}

.destination {
  margin-top: 262px;
  padding: 30px 0 59px;
}

.destination .container {
  max-width: 1120px;
  position: relative;
}

.destination__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-bottom: 56px;
}

.destination__view {
  margin-right: 15px;
  font-weight: 600;
  font-size: 17px;
  color: #FB8F1D;
  position: relative;
}

.destination__view ::before {
  content: "";
  position: absolute;
  bottom: 6px;
  right: -11px;
  height: 6px;
  width: 6px;
  border-top: 2px solid #FB8F1D;
  border-left: 2px solid #FB8F1D;
  transform: rotate(135deg);
}

.destination__cards {
  display: grid;
  grid-template-columns: repeat(4, 261px);
  grid-template-rows: 337px;
  column-gap: 25px;
}

.destination__card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.destination__card img {
  width: 100%;
  height: 100%;
}

.destination__card-name {
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 120px;
  height: 56px;
  padding: 11px 0 5px;
  background: #FFFFFF;
  border-radius: 0px 6px 0px 0px;
}

.destination__card-place {
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  color: #042521;
}

.destination__card-country {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  color: #80918E;
}

.destination__ring {
  height: 20px;
  position: absolute;
  top: -30px;
  right: 221px;
}

.destination__ring-bottom {
  height: 20px;
  position: absolute;
  bottom: -51px;
  right: 647px;
}

.destination__plus {
  position: absolute;
  bottom: 121px;
  left: -95px;
}

.guide {
  margin-top: 173px;
}

.guide__container {
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.guide__bg {
  position: absolute;
  right: 41px;
  height: 542px;
  width: 599px;
  z-index: -1;
  background: url("../images/guide_bg.png") no-repeat;
}

.guide__content {
  position: relative;
  padding: 152px 0 93px 49px;
  width: 450px;
}

.guide__desc {
  margin: 20px 0 39px;
}

.guide__btn {
  width: 164px;
  height: 48px;
  font-weight: 600;
  font-size: 16px;
}

.guide__ring {
  height: 20px;
  position: absolute;
  top: 85px;
  left: 94px;
}

.guide__plus {
  height: 21px;
  position: absolute;
  left: 465px;
  bottom: 96px;
  transform: rotate(20.42deg);
}

.guide__plus-small {
  position: absolute;
  height: 16px;
  width: 16px;
  right: -17px;
  top: 37px;
  transform: rotate(9.99deg);
}

.testimonial {
  margin-top: 248px;
}

.testimonial__container {
  position: relative;
}

.testimonial__title {
  margin-bottom: 60px;
  padding-left: 49px;
}

.testimonial__block {
  display: flex;
  justify-content: space-between;
}

.testimonial__content {
  padding: 85px 0 100px 49px;
}

.testimonial__raiting {
  margin-bottom: 30px;
}

.testimonial__star {
  display: inline-block;
}

.testimonial__star:not(:last-child) {
  margin-right: 16px;
}

.testimonial__text {
  width: 450px;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 40px;
}

.testimonial__author {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
}

.testimonial__founder {
  font-weight: 400;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 32px;
}

.testimonial__image {
  position: relative;
  margin-right: 152px;
  width: 384px;
  height: 491px;
}

.testimonial__image img {
  border-radius: 14px 14px 0 0;
}

.testimonial__wrapper {
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  width: 132px;
  background: #FFFFFF;
  border-radius: 16px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 30px;
}

.testimonial__pointer {
  width: 38px;
  height: 38px;
  border-radius: 100%;
}

.testimonial__pointer-prev {
  border: 2px solid #D7D7D7;
  position: relative;
}

.testimonial__pointer-prev::before {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 2px solid #D7D7D7;
  border-left: 2px solid #D7D7D7;
  transform: rotate(-45deg);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.testimonial__pointer-next {
  border: 2px solid #000000;
  position: relative;
}

.testimonial__pointer-next::before {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  transform: rotate(135deg);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.testimonial__ring {
  height: 20px;
  position: absolute;
  top: 299px;
  left: -73px;
}

.testimonial__ring-large {
  position: absolute;
  top: -17px;
  right: -18px;
  width: 42px;
  height: 42px;
}

.testimonial__ring-large img {
  width: 100%;
  height: 100%;
}

.testimonial__plus {
  width: 31.72px;
  height: 31.64px;
  z-index: 1;
  position: absolute;
  bottom: -13px;
  left: -12px;
  transform: rotate(8.17deg);
}

.testimonial__plus img {
  width: 100%;
  height: 100%;
}

.story {
  position: relative;
  margin-top: 213px;
  padding: 57px 0 75px;
}

.story .container {
  max-width: 1120px;
  position: relative;
}

.story__plus {
  position: absolute;
  height: 21px;
  top: -57px;
  left: 453px;
  transform: rotate(7.49deg);
}

.story__ring {
  position: absolute;
  height: 20px;
  left: -77px;
  top: 368px;
}

.story__ring-bottom {
  position: absolute;
  height: 20px;
  right: 365px;
  bottom: -75px;
}

.story__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-bottom: 56px;
}

.story__view {
  margin-right: 15px;
  font-weight: 600;
  font-size: 17px;
  color: #FB8F1D;
  position: relative;
}

.story__view ::before {
  content: "";
  position: absolute;
  bottom: 6px;
  right: -11px;
  height: 6px;
  width: 6px;
  border-top: 2px solid #FB8F1D;
  border-left: 2px solid #FB8F1D;
  transform: rotate(135deg);
}

.story__cards {
  display: grid;
  grid-template-columns: repeat(4, 261px);
  grid-template-rows: 446px;
  column-gap: 25px;
}

.story__card {
  border-radius: 8px;
  overflow: hidden;
}

.story__card-img {
  margin-bottom: 13px;
  height: 230px;
  width: 100%;
}

.story__card-img img {
  width: 100%;
  height: 100%;
}

.story__card-title {
  font-weight: 700;
  font-size: 19px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 13px;
}

.story__card-desc {
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #7D7987;
  margin-bottom: 23px;
}

.story__card-link {
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  color: #FB8F1D;
}

.footer {
  padding-top: 70px;
  background: #F9F9FB;
}

.footer__container {
  max-width: 1120px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 77px;
  border-bottom: 0.6px solid #C4C4C4;
}

.footer__content {
  padding-top: 8px;
  width: 391px;
}

.footer .logo {
  height: 44px;
  width: 44px;
}

.footer .logo img {
  height: 100%;
  width: 100%;
}

.footer__desc {
  width: 300px;
  margin: 26px 0 55px;
  font-family: 'Mulish';
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #848484;
}

.footer__rights {
  font-family: 'Mulish';
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
  color: #848484;
}

.footer__title {
  font-family: 'Mulish';
  font-weight: 700;
  font-size: 19px;
  line-height: 60px;
  color: #000000;
}

.footer ul {
  list-style-type: none;
}

.footer ul li {
  font-family: 'Mulish';
  font-size: 18px;
  line-height: 38px;
  color: #848484;
  font-weight: 300;
}

.footer__icons {
  padding: 30px 0 32px;
  text-align: center;
  vertical-align: bottom;
  font-size: 22px;
}

.footer__icons .fa-brands {
  margin-right: 35px;
}

.footer__icons .fa-twitter {
  font-size: 20px;
}

.footer__icons .fa-youtube {
  font-size: 20px;
}
